section {
    height: 100vh;
    display: flex;
}

section .container {
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.flex-menu-container {
    position: fixed;
    bottom: 10vh;
    width: 50px;
    height: 150px;
}

.section-student-info {
    background-image: url('/assets/background.jpg');
    background-size: cover;

}

.section-html {
    background-color: #e9ecef;
    /* #TODO change to image */
}

.section-css {
    background-color: #ced4da;
    /* #TODO change to image */
}
.section-javascript {
    background-color: #dee2e6;
    /* #TODO change to image */
}