<div id="footer-navigation" class="d-block d-md-none">
    <div class="row">
        <a class="col col-tutorial" href="#">
            <i class="bi bi-book"></i>
            <div>Tutorial</div>
        </a>
        <a class="col col-quiz" href="#quiz">
            <i class="bi bi-question-square"></i>
            <div>Quiz</div>
        </a>
        <a class="col col-ai-reflection-log" href="#ai-reflection-log">
            <i class="bi bi-journal-code"></i>
            <div>AI Reflection Log</div>
        </a>
        <a class="col col-personalised-cv" href="#personalised-cv">
            <i class="bi bi-file-earmark-person"></i>
            <div>Personalised CV</div>
        </a>
    </div>
</div>