<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="link-nav-tutorial navbar-brand" href="#">Han Minh Tran</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link-tutorial nav-link" href="#">Tutorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-quiz nav-link" href="#quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-ai-reflection-log nav-link" href="#ai-reflection-log">AI Reflection Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-personalised-cv nav-link" href="#personalised-cv">Personalised CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>