<ol>
    <li>The final page should give a brief biography of the author, including a picture. It should be presented as a
        curriculum vitae that introduces yourself and you could show to potential employers.
    </li>
    <li>Use placeholders for personal information (e.g. phone number, references). The page is expected to use advanced
        HTML, CSS and JavaScript (e.g., semantic HTML5 elements, responsive CSS, and interactive JavaScript) to promote
        yourself.
    </li>
    <li>It should be about 500 words of content, but interactive examples, including AJAX, pictures, animations etc. are
        encouraged.
    </li>
    <li>Finally at the bottom of this page, there should be a clearly marked section containing references to all the
        sources you used in preparation of your assignment, including AI assistance. See the UWA referencing guide for
        details on how references should be presented: https://guides.library.uwa.edu.au/referencinguwa
    </li>
</ol>