<link rel="stylesheet" href="css/tutorial.component.css">
<section class="d-flex align-items-center justify-content-center position-relative section-student-info">
    <div class="text-center text-overlay align-items-center p-2 text-light">
        <div class="d-lg-flex justify-content-lg-center fs-2 mb-4">
            Han Minh Tran</div>
        <div class="mb-4">25112977</div>
    </div>
</section>
<section class="section-html">
    <div class="container pt-3 pb-3">
    HTML feature
    </div>
</section>
<section class="section-css">
    <div class="container pt-3 pb-3">
    CSS feature
    </div>
</section>
<section class="section-javascript">
    <div class="container pt-3 pb-3">
    JavaScript feature
    </div>
</section>
<div class="text-center pt-3 pb-3">
    <div class="mb-4">Ready to test your knowledge?</div>
    <a class="btn btn-primary link-nav-quiz" href="#quiz">Start Quiz</a>
</div>
<ol class="d-none"> <!-- TODO -> remove after finish -->
    <li>Create a page that explains the fundamentals of HTML, CSS, and JavaScript. The content should be well-structured
        and easy to follow, using examples, code snippets, and interactive demonstrations to help users understand the
        material.</li>
    <li>At the end of the page, include a clearly visible link or button that takes the user directly to the quiz page.
    </li>
</ol>