<section class="container">
        <div class="text-center fw-bold fs-6">Minh (Mark) Tran</div>
        <div class="text-center pb-1"><span class="fw-bold">M</span><span>: 0480 346 329</span><span
                        class="fw-bold ms-3">E</span><span>:
                        <a href="mailto:tranhanminh34@gmail.com">tranhanminh34@gmail.com</a></span><span
                        class="fw-bold ms-3">L</span>:
                <a href="https://www.linkedin.com/in/tran-han-minh/"
                        target="_blank">https://www.linkedin.com/in/tran-han-minh/</a>
        </div>
        <section class="headings">PROFILE</section>
        <div>Accomplished software engineer with over 10 years of experience in software development,
                specializing in Java Spring Framework and Angular. Proven track record in delivering
                high-quality solutions within the dynamic environment of a Swiss firm. Currently pursuing a
                Master of Information Technology to explore creative and innovative approaches to application
                development.</div>
        <section class="headings">RELEVANT EMPLOYMENT</section>
        <div class="title-timeline">
                <div class="title">Java Expert - Tech lead</div>
                <div class="timeline">Feb 2016 - Dec 2025</div>
        </div>
        <div>ELCA Vietnam, HCMC, Vietnam</div>
        <ul class="job-description">
                <li>
                        Participating and developing numerous projects in various industries (Medical, Debt
                        management, Law management,..)
                        <ul>
                                <li>Developed a new Law Management system for Canton Vaud. Our main task was to
                                        develop the system to replace the legacy collaboration platform used by
                                        the Canton of Vaud to manage all activities of the Great Council and
                                        State Council. Also, the scope of work covers the administrative and
                                        legal processes of the Great Council and the State Council.<br><span
                                                class="fw-bold">Technical stacks:</span> Spring Boot, Hibernate,
                                        Angular, Oracle, Alfresco, OpenShift, Docker.</li>
                                <li>In the role of Tech Lead, designed and
                                        implemented an EPR
                                        bridge to streamline the exchange of patient documents among healthcare
                                        providers during shared care
                                        and
                                        transitions of care. This solution automates the submission of documents
                                        to relevant EPR platforms,
                                        significantly minimizing administrative workload. It empowers patients
                                        and authorized healthcare
                                        providers to access records seamlessly through cross-community access
                                        (XCA).<br><span class="fw-bold">Technical stacks:</span> Spring
                                        boot, Apache Camel, SOAP message.</li>
                                <li>Led the construction of a new
                                        Information System for the
                                        Debt
                                        Collection Office, addressing multiple challenges including the
                                        modernization of a 30-year-old IT
                                        platform, compliance with the new electronic norm e-LP, and the ambition
                                        to fully digitalize
                                        business
                                        processes with a zero-paper approach. This initiative involved executing
                                        processes driven by a BPM
                                        engine to enhance operational efficiency<br><span class="fw-bold">Technical
                                                stacks:</span> Spring
                                        boot, JSP, Knockout.JS,
                                        Oracle.</li>
                        </ul>
                </li>
                <li>
                        Strategizing and implementing
                        innovative technical
                        solutions for difficult problems such as performance issues, coding best
                        practices, technical
                        upgrades,...
                </li>
                <li>
                        Offering comprehensive technical
                        support to team
                        members,
                        ensuring smooth project execution.
                </li>
        </ul>
        <section class="headings">LEADERSHIP EXPERIENCE</section>
        <div class="title-timeline">
                <div class="title">Technical trainer</div>
                <div class="timeline">2018 – Jul 2015</div>
        </div>
        <div>ELCA Vietnam, HCMC, Vietnam</div>
        <ul class="job-description">
                <li>Engaged in training technical knowledge for junior colleagues: Java, Spring framework.</li>
                <li>Was a trainer for coding concept courses: Unit Testing, Code Refactoring.</li>
                <li>Supported and offered technical recommendation for Java projects.</li>
        </ul>
        <section class="headings">SKILLS</section>
        <ul>
                <li>Equipped with exceptional knowledge and skills to
                        analyze and
                        develop web applications.</li>
                <li><span class="fw-bold">Backend:</span> Java, Spring
                        boot,
                        Hibernate,
                        Quarkus.</span></li>
                <li><span class="fw-bold">Frontend:</span> Angular,
                        NodeJS, JS, CSS,
                        HTML.</span></li>
                <li><span class="fw-bold">Database:</span> SQL, Oracle,
                        Postgres.</span>
                </li>
                <li><span class="fw-bold">Cloud:</span> AWS.</span></li>
                <li><span class="fw-bold">CI/CD:</span> Git, Docker,
                        Openshift,
                        Jenkins.</span></li>
                <li><span class="fw-bold">Languages:</span> Proficient in
                        English
                        and Chinese, basic communication in Japanese.</li>
        </ul>
        <section class="headings">EDUCATION</section>
        <div class="title-timeline">
                <div class="title">Master of Information Technology</div>
                <div class="timeline">July 2025 - Present</div>
        </div>
        <div>The University of Western Australia</div>
        <div>Due to complete course in 2027</div>
        <div>GPA: 6.750</div>
        <div>WAM: 84.250</div>
        <div class="title-timeline pt-3">
                <div class="title">Bachelor of Computer Science</div>
                <div class="timeline">Aug 2011 - Feb 2016</div>
        </div>
        <div>Ho Chi Minh University of Technology, Vietnam</div>
        <div>GPA: 8.08/10</div>
        <section class="headings">CERTIFICATES</section>
        <ul>
                <li><span class="fw-bold">AWS Certificated Solutions
                                Architect<br></span>Amazon Web Services (AWS), Nov 2023</li>
                <li><span class="fw-bold">Study Australia Industry Experience
                                Program Completer<br></span>Practera, Oct 2025</li>
                <li><span class="fw-bold">IELTS Academic</span> - Overall Band Score: 7.0</li>
        </ul>
        <section class="headings">REFEREES</section>
        <div>Available on request</div>

        <ol class="d-none">
                <li>The final page should give a brief biography of the author, including a picture. It should be
                        presented as a
                        curriculum vitae that introduces yourself and you could show to potential employers.
                </li>
                <li>Use placeholders for personal information (e.g. phone number, references). The page is expected to
                        use
                        advanced
                        HTML, CSS and JavaScript (e.g., semantic HTML5 elements, responsive CSS, and interactive
                        JavaScript) to
                        promote
                        yourself.
                </li>
                <li>It should be about 500 words of content, but interactive examples, including AJAX, pictures,
                        animations etc.
                        are
                        encouraged.
                </li>
                <li>Finally at the bottom of this page, there should be a clearly marked section containing references
                        to all
                        the
                        sources you used in preparation of your assignment, including AI assistance. See the UWA
                        referencing guide
                        for
                        details on how references should be presented: https://guides.library.uwa.edu.au/referencinguwa
                </li>
        </ol>
</section>