section {
    min-height: 100vh;
    display: flex;
}

section .container {
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.content-section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-student-info {
    background-image: url('/assets/background.jpg');
    background-size: cover;

}

.section-html {
    background-color: var(--content-bg-color);
}

.section-css {
    background-color: var(--content-bg-color-alt);
}

.section-javascript {
    background-color: var(--content-bg-color);
}

.title {
    color: #2c3e50;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content-header {
    color: #35424a;
    font-size: 2rem;
    font-weight: 500;
}

.content-subheader {
    color: #35424a;
    font-size: 1.75rem;
    font-weight: 500;
}

pre code {
    background: transparent
}

code {
    background: #e0e0e0;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
}

pre {
    background: #2d2d2d;
    color: #ccc;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}


.demo {
    border: 2px dashed #bbb;
    padding: 1rem;
    margin-top: 1rem;
    background: #fafafa;
}

#image-example {
    max-width: 500px;
}

.demo-box {
    border: 2px solid #3498db;
    padding: 15px;
    margin: 15px 0;
    background: #ebf5fb;
}

.demo-box:hover {
    background: #34b4ff;
}

.box-model {
    padding: 0px 20px 20px 20px;
    text-align: center;
    color: black;
}
.box-model-margin {
    width: 300px;
    border: 1px dashed black;
    background-color: #ae8254;
}
.box-model-margin:hover .box-model:not(:hover),
.box-model:has(.box-model:hover) {
    background-color: white;
}


.box-model-border {
    border: 1px solid black;
    background-color: #e3c382;
}
.box-model-padding {
    border: 1px dashed black;
    background-color: #b7c480;
}

.box-model-content  {
    border: 1px solid black;
    background-color: #87b2bd;
}

.highlight {
    background-color: #f1c40f;
    padding: 2px 5px;
}

#html-flip-cards .flip-card {
    min-height: 150px;
}
#css-flip-cards, #html-flip-cards {
    row-gap: var(--bs-gutter-x);
}
#css-flip-cards .flip-card {
    min-height: 230px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

